body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

section {
    padding: 20px;
    margin: 20px;
}

#services {
    display: flex;
    align-items: center;
}
